<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>source</key>
	<string>http://www18.atwiki.jp/iphone-urlscheme/list</string>
	<key>name</key>
	<string>URLスキームリスト</string>
	<key>URLS</key>
	<array>
		<dict>
			<key>display</key>
			<string>tel:電話番号	※電話がかかります</string>
			<key>name</key>
			<string>電話</string>
			<key>scheme</key>
			<string>tel:08035509960</string>
		</dict>
		<dict>
			<key>display</key>
			<string>mailto:	※新規作成のみ</string>
			<key>name</key>
			<string>メール</string>
			<key>scheme</key>
			<string>mailto:kozy19781001@gmail.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>メッセージ</string>
			<key>scheme</key>
			<string>sms:</string>
			<key>display</key>
			<string>sms:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>メッセージ</string>
			<key>display</key>
			<string>sms:</string>
			<key>scheme</key>
			<string>sms:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Safari</string>
			<key>display</key>
			<string>http://google.co.jpとかでいいんじゃない？</string>
			<key>scheme</key>
			<string>http://google.co.jpとかでいいんじゃない？</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ミュージック</string>
			<key>display</key>
			<string>music:</string>
			<key>scheme</key>
			<string>music:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>カレンダー</string>
			<key>display</key>
			<string>calshow://, x-apple-calevent://</string>
			<key>scheme</key>
			<string>calshow://, x-apple-calevent://</string>
		</dict>
		<dict>
			<key>name</key>
			<string>写真</string>
			<key>display</key>
			<string>photos-redirect:</string>
			<key>scheme</key>
			<string>photos-redirect:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>カメラ</string>
			<key>display</key>
			<string>不明</string>
			<key>scheme</key>
			<string>不明</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ビデオ</string>
			<key>display</key>
			<string>videos:</string>
			<key>scheme</key>
			<string>videos:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>YouTube</string>
			<key>display</key>
			<string>youtube://</string>
			<key>scheme</key>
			<string>youtube://</string>
		</dict>
		<dict>
			<key>name</key>
			<string>マップ</string>
			<key>display</key>
			<string>maps:</string>
			<key>scheme</key>
			<string>maps:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>天気</string>
			<key>display</key>
			<string>weather:</string>
			<key>scheme</key>
			<string>weather:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>メモ</string>
			<key>display</key>
			<string>不明</string>
			<key>scheme</key>
			<string>不明</string>
		</dict>
		<dict>
			<key>name</key>
			<string>リマインダー</string>
			<key>display</key>
			<string>x-apple-reminder://</string>
			<key>scheme</key>
			<string>x-apple-reminder://</string>
		</dict>
		<dict>
			<key>name</key>
			<string>時計</string>
			<key>display</key>
			<string>不明</string>
			<key>scheme</key>
			<string>不明</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Game Center</string>
			<key>display</key>
			<string>gamecenter:</string>
			<key>scheme</key>
			<string>gamecenter:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Newsstand</string>
			<key>display</key>
			<string>不明</string>
			<key>scheme</key>
			<string>不明</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iTunes</string>
			<key>display</key>
			<string>http://itunes.apple.com/jp/genre</string>
			<key>scheme</key>
			<string>http://itunes.apple.com/jp/genre</string>
		</dict>
		<dict>
			<key>name</key>
			<string>App Store</string>
			<key>display</key>
			<string>http://itunes.apple.com/jp/genre/ios/id36?mt=8</string>
			<key>scheme</key>
			<string>http://itunes.apple.com/jp/genre/ios/id36?mt=8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>設定</string>
			<key>display</key>
			<string>prefs:</string>
			<key>scheme</key>
			<string>prefs:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>株価</string>
			<key>display</key>
			<string>不明</string>
			<key>scheme</key>
			<string>不明</string>
		</dict>
		<dict>
			<key>name</key>
			<string>連絡先</string>
			<key>display</key>
			<string>不明</string>
			<key>scheme</key>
			<string>不明</string>
		</dict>
		<dict>
			<key>name</key>
			<string>計算機</string>
			<key>display</key>
			<string>不明</string>
			<key>scheme</key>
			<string>不明</string>
		</dict>
		<dict>
			<key>name</key>
			<string>コンパス</string>
			<key>display</key>
			<string>不明</string>
			<key>scheme</key>
			<string>不明</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ボイスメモ</string>
			<key>display</key>
			<string>不明</string>
			<key>scheme</key>
			<string>不明</string>
		</dict>
		<dict>
			<key>name</key>
			<string>準純正アプリ</string>
			<key>display</key>
			<string></string>
			<key>scheme</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>iBooks</string>
			<key>display</key>
			<string>itms-books:,itms-bookss:,ibooks:</string>
			<key>scheme</key>
			<string>itms-books:,itms-bookss:,ibooks:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Remote</string>
			<key>display</key>
			<string>remote:</string>
			<key>scheme</key>
			<string>remote:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Apple Store</string>
			<key>display</key>
			<string>applestore:</string>
			<key>scheme</key>
			<string>applestore:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>友達を探す(Find My Friends)</string>
			<key>display</key>
			<string>findmyfriends:, fmf1:, grenada:</string>
			<key>scheme</key>
			<string>findmyfriends:, fmf1:, grenada:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iTunes U</string>
			<key>display</key>
			<string>itms-itunesu:, itms-itunesus:</string>
			<key>scheme</key>
			<string>itms-itunesu:, itms-itunesus:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AirPort Utility</string>
			<key>display</key>
			<string>apmanage:</string>
			<key>scheme</key>
			<string>apmanage:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Export for Google Documents</string>
			<key>display</key>
			<string>com.fourmeisters.expt4gdocs:</string>
			<key>scheme</key>
			<string>com.fourmeisters.expt4gdocs:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Evernote</string>
			<key>display</key>
			<string>evernote:</string>
			<key>scheme</key>
			<string>evernote:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>設定</string>
			<key>display</key>
			<string>prefs:</string>
			<key>scheme</key>
			<string>prefs:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>機内モード</string>
			<key>display</key>
			<string>prefs:root=AIRPLANE_MODE</string>
			<key>scheme</key>
			<string>prefs:root=AIRPLANE_MODE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Wi-Fi</string>
			<key>display</key>
			<string>prefs:root=WIFI</string>
			<key>scheme</key>
			<string>prefs:root=WIFI</string>
		</dict>
		<dict>
			<key>name</key>
			<string>通知</string>
			<key>display</key>
			<string>prefs:root=NOTIFICATIONS_ID</string>
			<key>scheme</key>
			<string>prefs:root=NOTIFICATIONS_ID</string>
		</dict>
		<dict>
			<key>name</key>
			<string>位置情報サービス</string>
			<key>display</key>
			<string>prefs:root=LOCATION_SERVICES</string>
			<key>scheme</key>
			<string>prefs:root=LOCATION_SERVICES</string>
		</dict>
		<dict>
			<key>name</key>
			<string>サウンド</string>
			<key>display</key>
			<string>prefs:root=Sounds</string>
			<key>scheme</key>
			<string>prefs:root=Sounds</string>
		</dict>
		<dict>
			<key>name</key>
			<string>明るさ</string>
			<key>display</key>
			<string>prefs:root=Brightness</string>
			<key>scheme</key>
			<string>prefs:root=Brightness</string>
		</dict>
		<dict>
			<key>name</key>
			<string>壁紙</string>
			<key>display</key>
			<string>prefs:root=Wallpaper</string>
			<key>scheme</key>
			<string>prefs:root=Wallpaper</string>
		</dict>
		<dict>
			<key>name</key>
			<string>パスコードロック</string>
			<key>display</key>
			<string>不明</string>
			<key>scheme</key>
			<string>不明</string>
		</dict>
		<dict>
			<key>name</key>
			<string>機能制限</string>
			<key>display</key>
			<string>不明</string>
			<key>scheme</key>
			<string>不明</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dejumble</string>
			<key>display</key>
			<string>dejumble:</string>
			<key>scheme</key>
			<string>dejumble:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Delivery Status touch</string>
			<key>display</key>
			<string>deliveries:</string>
			<key>scheme</key>
			<string>deliveries:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Discodeer - 無料音楽プレイヤー</string>
			<key>display</key>
			<string>discodeer: ,fb126425200801773:</string>
			<key>scheme</key>
			<string>discodeer: ,fb126425200801773:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>djay</string>
			<key>display</key>
			<string>djay:</string>
			<key>scheme</key>
			<string>djay:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>domo Todo+</string>
			<key>display</key>
			<string>domotodo:</string>
			<key>scheme</key>
			<string>domotodo:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Downloads</string>
			<key>display</key>
			<string>downloads:</string>
			<key>scheme</key>
			<string>downloads:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DraftPad</string>
			<key>display</key>
			<string>draftpad:</string>
			<key>scheme</key>
			<string>draftpad:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dreams of Burma</string>
			<key>display</key>
			<string>fotopedia+burma:</string>
			<key>scheme</key>
			<string>fotopedia+burma:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dropbox</string>
			<key>display</key>
			<string>dbapi-1:</string>
			<key>scheme</key>
			<string>dbapi-1:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mac Fan</string>
			<key>display</key>
			<string>magastore_ns:</string>
			<key>scheme</key>
			<string>magastore_ns:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maha</string>
			<key>display</key>
			<string>maha://</string>
			<key>scheme</key>
			<string>maha://</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mammoth4 Internet Browser Lite</string>
			<key>display</key>
			<string>mammoth4lite:</string>
			<key>scheme</key>
			<string>mammoth4lite:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Manner Camera</string>
			<key>display</key>
			<string>mcam:</string>
			<key>scheme</key>
			<string>mcam:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MapFan for iPhone</string>
			<key>display</key>
			<string>mapfan:</string>
			<key>scheme</key>
			<string>mapfan:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maven Web Browser</string>
			<key>display</key>
			<string>maven:</string>
			<key>scheme</key>
			<string>maven:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mercury Web Browser Pro</string>
			<key>display</key>
			<string>merc:</string>
			<key>scheme</key>
			<string>merc:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Midomi</string>
			<key>display</key>
			<string>midomi:</string>
			<key>scheme</key>
			<string>midomi:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MindMeister</string>
			<key>display</key>
			<string>mindmeister:</string>
			<key>scheme</key>
			<string>mindmeister:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>mixi</string>
			<key>display</key>
			<string>mixi:</string>
			<key>scheme</key>
			<string>mixi:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mobile Mouse Pro</string>
			<key>display</key>
			<string>mobilemouse:</string>
			<key>scheme</key>
			<string>mobilemouse:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mocha VNC</string>
			<key>display</key>
			<string>mochavnc:</string>
			<key>scheme</key>
			<string>mochavnc:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Moleskine</string>
			<key>display</key>
			<string>moleskine:</string>
			<key>scheme</key>
			<string>moleskine:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Monkey Moon</string>
			<key>display</key>
			<string>sinawbMonkyeMoon:</string>
			<key>scheme</key>
			<string>sinawbMonkyeMoon:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>moon globe</string>
			<key>display</key>
			<string>moonglobe:</string>
			<key>scheme</key>
			<string>moonglobe:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>My Downloader Pro</string>
			<key>display</key>
			<string>YUYAO-UNIVERSAL-DOWNLOADER:</string>
			<key>scheme</key>
			<string>YUYAO-UNIVERSAL-DOWNLOADER:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>1Password Pro</string>
			<key>display</key>
			<string>onepassword3:</string>
			<key>scheme</key>
			<string>onepassword3:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FastFinga</string>
			<key>display</key>
			<string>fastfinga:</string>
			<key>scheme</key>
			<string>fastfinga:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fastever</string>
			<key>display</key>
			<string>fastever:</string>
			<key>scheme</key>
			<string>fastever:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Facebook</string>
			<key>display</key>
			<string>fb:</string>
			<key>scheme</key>
			<string>fb:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Google Maps</string>
			<key>display</key>
			<string>googlemaps:</string>
			<key>scheme</key>
			<string>googlemaps:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Google Search</string>
			<key>display</key>
			<string>googleapp:</string>
			<key>scheme</key>
			<string>googleapp:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Google Translate</string>
			<key>display</key>
			<string>googletranslate:</string>
			<key>scheme</key>
			<string>googletranslate:</string>
		</dict>
		<dict>
			<key>name</key>
			<string>写真</string>
			<key>display</key>
			<string>prefs:root=Photos</string>
			<key>scheme</key>
			<string>prefs:root=Photos</string>
		</dict>
		<dict>
			<key>name</key>
			<string>メモ</string>
			<key>display</key>
			<string>prefs:root=NOTES</string>
			<key>scheme</key>
			<string>prefs:root=NOTES</string>
		</dict>
		<dict>
			<key>name</key>
			<string>メール/連絡先/カレンダー</string>
			<key>display</key>
			<string>prefs:root=ACCOUNT_SETTINGS</string>
			<key>scheme</key>
			<string>prefs:root=ACCOUNT_SETTINGS</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Twitter</string>
			<key>display</key>
			<string>prefs:root=TWITTER</string>
			<key>scheme</key>
			<string>prefs:root=TWITTER</string>
		</dict>
		<dict>
			<key>name</key>
			<string>電話</string>
			<key>display</key>
			<string>prefs:root=Phone</string>
			<key>scheme</key>
			<string>prefs:root=Phone</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Safari</string>
			<key>display</key>
			<string>prefs:root=Safari</string>
			<key>scheme</key>
			<string>prefs:root=Safari</string>
		</dict>
		<dict>
			<key>name</key>
			<string>メッセージ</string>
			<key>display</key>
			<string>prefs:root=MESSAGES</string>
			<key>scheme</key>
			<string>prefs:root=MESSAGES</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ミュージック</string>
			<key>display</key>
			<string>prefs:root=MUSIC</string>
			<key>scheme</key>
			<string>prefs:root=MUSIC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FaceTime</string>
			<key>display</key>
			<string>prefs:root=FACETIME</string>
			<key>scheme</key>
			<string>prefs:root=FACETIME</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ビデオ</string>
			<key>display</key>
			<string>prefs:root=VIDEO</string>
			<key>scheme</key>
			<string>prefs:root=VIDEO</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Store</string>
			<key>display</key>
			<string>prefs:root=STORE</string>
			<key>scheme</key>
			<string>prefs:root=STORE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iCloud</string>
			<key>display</key>
			<string>prefs:root=CASTLE</string>
			<key>scheme</key>
			<string>prefs:root=CASTLE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>情報</string>
			<key>display</key>
			<string>prefs:root=General&amp;path=About</string>
			<key>scheme</key>
			<string>prefs:root=General&amp;path=About</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ソフトウェア・アップデート</string>
			<key>display</key>
			<string>prefs:root=General&amp;path=SOFTWARE_UPDATE_LINK</string>
			<key>scheme</key>
			<string>prefs:root=General&amp;path=SOFTWARE_UPDATE_LINK</string>
		</dict>
		<dict>
			<key>name</key>
			<string>使用状況</string>
			<key>display</key>
			<string>prefs:root=General&amp;path=USAGE</string>
			<key>scheme</key>
			<string>prefs:root=General&amp;path=USAGE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Siri</string>
			<key>display</key>
			<string>prefs:root=General&amp;path=Assistant</string>
			<key>scheme</key>
			<string>prefs:root=General&amp;path=Assistant</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ネットワーク</string>
			<key>display</key>
			<string>prefs:root=General&amp;path=Network</string>
			<key>scheme</key>
			<string>prefs:root=General&amp;path=Network</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bluetooth</string>
			<key>display</key>
			<string>prefs:root=General&amp;path=Bluetooth</string>
			<key>scheme</key>
			<string>prefs:root=General&amp;path=Bluetooth</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iTunes Wi-Fi同期</string>
			<key>display</key>
			<string>prefs:root=General&amp;path=iTunes Wi-Fi同期</string>
			<key>scheme</key>
			<string>prefs:root=General&amp;path=iTunes Wi-Fi同期</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Spotlight検索</string>
			<key>display</key>
			<string>prefs:root=General&amp;path=Spotlight検索</string>
			<key>scheme</key>
			<string>prefs:root=General&amp;path=Spotlight検索</string>
		</dict>
		<dict>
			<key>name</key>
			<string>自動ロック</string>
			<key>display</key>
			<string>prefs:root=General&amp;path=AUTOLOCK</string>
			<key>scheme</key>
			<string>prefs:root=General&amp;path=AUTOLOCK</string>
		</dict>
		<dict>
			<key>name</key>
			<string>日付と時刻</string>
			<key>display</key>
			<string>prefs:root=General&amp;path=DATE_AND_TIME</string>
			<key>scheme</key>
			<string>prefs:root=General&amp;path=DATE_AND_TIME</string>
		</dict>
		<dict>
			<key>name</key>
			<string>キーボード</string>
			<key>display</key>
			<string>prefs:root=General&amp;path=Keyboard</string>
			<key>scheme</key>
			<string>prefs:root=General&amp;path=Keyboard</string>
		</dict>
		<dict>
			<key>name</key>
			<string>言語環境</string>
			<key>display</key>
			<string>prefs:root=General&amp;path=INTERNATIONAL</string>
			<key>scheme</key>
			<string>prefs:root=General&amp;path=INTERNATIONAL</string>
		</dict>
		<dict>
			<key>name</key>
			<string>アクセシビリティ</string>
			<key>display</key>
			<string>prefs:root=General&amp;path=ACCESSIBILITY</string>
			<key>scheme</key>
			<string>prefs:root=General&amp;path=ACCESSIBILITY</string>
		</dict>
		<dict>
			<key>name</key>
			<string>プロファイル</string>
			<key>display</key>
			<string>prefs:root=General&amp;path=ManagedConfigurationList</string>
			<key>scheme</key>
			<string>prefs:root=General&amp;path=ManagedConfigurationList</string>
		</dict>
		<dict>
			<key>name</key>
			<string>リセット</string>
			<key>display</key>
			<string>prefs:root=General&amp;path=Reset</string>
			<key>scheme</key>
			<string>prefs:root=General&amp;path=Reset</string>
		</dict>
		<dict>
			<key>name</key>
			<string>モバイルデータ通信の使用状況</string>
			<key>display</key>
			<string>prefs:root=General&amp;path=USAGE/CELLULAR_USAGE</string>
			<key>scheme</key>
			<string>prefs:root=General&amp;path=USAGE/CELLULAR_USAGE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VPN</string>
			<key>display</key>
			<string>prefs:root=General&amp;path=Network/VPN</string>
			<key>scheme</key>
			<string>prefs:root=General&amp;path=Network/VPN</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iCloud/ストレージ&amp;バックアップ</string>
			<key>display</key>
			<string>prefs:root=CASTLE&amp;path=STORAGE_AND_BACKUP</string>
			<key>scheme</key>
			<string>prefs:root=CASTLE&amp;path=STORAGE_AND_BACKUP</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ミュージック/イコライザ</string>
			<key>display</key>
			<string>prefs:root=MUSIC&amp;path=EQ</string>
			<key>scheme</key>
			<string>prefs:root=MUSIC&amp;path=EQ</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ミュージック/音量制限</string>
			<key>display</key>
			<string>prefs:root=MUSIC&amp;path=VolumeLimit</string>
			<key>scheme</key>
			<string>prefs:root=MUSIC&amp;path=VolumeLimit</string>
		</dict>
		<dict>
			<key>schemes</key>
			<array>
				<string>ghttp:</string>
				<string>ghttps:</string>
				<string>grhttp:</string>
				<string>grhttps:</string>
				<string>giwhttp:</string>
				<string>giwhttps:</string>
				<string>gropen:</string>
			</array>
			<key>name</key>
			<string>GoodReader for iPhone</string>
			<key>display</key>
			<string>ghttp:, ghttps:, grhttp:, grhttps:, giwhttp:, giwhttps:, gropen:</string>
			<key>scheme</key>
			<string>ghttp:, ghttps:, grhttp:, grhttps:, giwhttp:, giwhttps:, gropen:</string>
		</dict>
	</array>
</dict>
</plist>
